interfaces:
  my_trello:
    type: trello
    key: xxxxxxxxxxxxxxxxxxxxxxxxx
    secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  my_github_push:
    type: github_push
    secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
rules:
  pr_to_trello:
    type: pull_request_to_trello
    # optional - if not specified, rule will be applied for all github interfaces
    github_interfaces: my_github_push
    # optional - if not specified, rule will be applied for all repos
    repos:
      - repo1
      - repo2
    trello_interface: my_trello
    trello_list_id: xxxxxxxxxxxxxxxxxxxxxx
