<html>
  <head>
    <title>Dynflow Console</title>
    <script src="<%= url '/javascripts/jquery.js' %>"></script>
    <script src="<%= url '/javascripts/application.js' %>"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
